@rendermode InteractiveServer

@if (Company != null)
{
    <div class="modal fade show d-block" id="exampleModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleLabel">Company Details</h5>
                    <button type="button" class="close btn btn-lg" @onclick="@Close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col row">
                        <div class="col-22 col-sm-8">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Company code</label>
                                <div class="col-sm-7">
                                    <label type="text" class="form-control-plaintext">@Company.Code</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Company name</label>
                                <div class="col-sm-7">
                                    <label type="text" readonly class="form-control-plaintext">@Company.Name</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Company logoUrl</label>
                                <div class="col-sm-7">
                                    <label type="text" readonly class="form-control-plaintext">@Company.LogoUrl</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Created on</label>
                                <div class="col-sm-7">
                                    <label type="text" readonly class="form-control-plaintext">@Company.CreatedDate.ToShortDateString()</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Created by</label>
                                <div class="col-sm-7">
                                    <label type="text" readonly class="form-control-plaintext">@Company.CreatedBy</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Last modified on</label>
                                <div class="col-sm-7">
                                    <label type="text" readonly class="form-control-plaintext">@Company.LastModifiedDate.ToShortDateString()</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Last modified by</label>
                                <div class="col-sm-7">
                                    <label type="text" readonly class="form-control-plaintext">@Company.LastModifiedBy</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-outline-primary" @onclick="@Close">Close</button>
                </div>
            </div>
        </div>
    </div>
}
